# Phase 5: Data Storage Validation

This notebook verifies the SQLite database implementation. We will:
1. Connect to `faculty.db`
2. Inspect the Schema
3. Verify Data Integrity (109 records)
4. Test Search Queries

In [1]:
import sqlite3
import pandas as pd
import os
import sys

# Add project root to path
sys.path.append(os.path.abspath(os.path.join('..')))
from src.config import DATABASE_PATH

## 1. Connect to Database

In [2]:
print(f"Connecting to: {DATABASE_PATH}")
conn = sqlite3.connect(DATABASE_PATH)
cursor = conn.cursor()

Connecting to: c:\Users\Admin\OneDrive\Desktop\SEM2\BIG DATA\PROJECT PHASE 1\faculty_finder\database\faculty.db

## 2. Inspect Schema
Verify the table existence and the new `university` column.

In [3]:
cursor.execute("PRAGMA table_info(faculty);")
schema = cursor.fetchall()
pd.DataFrame(schema, columns=['cid', 'name', 'type', 'notnull', 'dflt_value', 'pk'])

    cid             name       type  notnull         dflt_value  pk
0     0               id    INTEGER        0               None   1
1     1             name       TEXT        1               None   0
2     2        image_url       TEXT        0               None   0
3     3        education       TEXT        0               None   0
4     4       contact_no       TEXT        0               None   0
5     5          address       TEXT        0               None   0
6     6            email       TEXT        0               None   0
7     7        biography       TEXT        0               None   0
8     8   specialization       TEXT        0               None   0
9     9         teaching       TEXT        0               None   0
10   10     publications       TEXT        0               None   0
11   11  raw_source_file       TEXT        0               None   0
12   12       university       TEXT        0          'DA-IICT'   0
13   13       created_at  TIMESTAMP        0  CURRENT_TIMESTAMP   0

## 3. Verify Data Integrity
We expect **109** records.

In [4]:
cursor.execute("SELECT COUNT(*) FROM faculty")
count = cursor.fetchone()[0]
print(f"Total Records: {count}")
assert count == 109, "Data mismatch! Expected 109 records."

Total Records: 109

## 4. Sample Data
View first 5 rows to ensure fields like `image_url` and `university` are populated.

In [5]:
df = pd.read_sql_query("SELECT * FROM faculty LIMIT 5", conn)
df

,id,name,image_url,education,contact_no,address,email,biography,specialization,teaching,publications,raw_source_file,university,created_at
0,1,Abhijit Mukherjee,https://www.daiict.ac.in/sites/default/files/f...,MBA in Systems from Vinayaka Mission University,Not Provided,Not Provided,abhijit_mukherjee@dau.ac.in,Not Provided,"Enterprise Computing and SAP Systems (IS-U, S/...",Not Provided,Not Provided,abhijit-mukherjee.html,DA-IICT,2026-01-21 06:23:33
1,2,Abhishek Gupta,https://www.daiict.ac.in/sites/default/files/f...,"PhD (Electrical and Computer Engineering), Tor...",079-68261598,"# 3208, FB-3, DAU, Gandhinagar, Gujarat, India...",abhishek_gupta@dau.ac.in,Dr. Abhishek Gupta received his PhD in Electri...,"Machine Learning, Statistical Signal Processin...",Signals and Systems Computer Networks Digital ...,Not Provided,abhishek-gupta.html,DA-IICT,2026-01-21 06:23:33
2,3,Abhishek Jindal,https://www.daiict.ac.in/sites/default/files/f...,"PhD (Electronics & Communication Engineering),...",079-68261654,"# 4101, FB-4, DA-IICT, Gandhinagar, Gujarat, I...",abhishek_jindal@dau.ac.in,I received the B. Tech. and M. Tech. degrees f...,"Reinforcement Learning, Deep Learning for Fina...",Reinforcement Learning Applications of Machine...,"Journal Articles: D. Maradia, A. Jindal, and C...",abhishek-jindal.html,DA-IICT,2026-01-21 06:23:33
3,4,Abhishek Tilva,https://www.daiict.ac.in/sites/default/files/f...,"PhD (Statistics), Columbia University, New Yor...",079-68261549,"# 2209, FB-2, DA-IICT, Gandhinagar, Gujarat, I...",abhishek_tilva@dau.ac.in,Abhishek Tilva currently serves as an Assistan...,"Arbitrage Theory, Stochastic Portfolio Theory,...",WEBPAGE LINK: Please Click Here,"Bayraktar, Erhan, Donghan Kim, and Abhishek Ti...",abhishek-tilva.html,DA-IICT,2026-01-21 06:23:33
4,5,Aditi Nath Sarkar,https://www.daiict.ac.in/sites/default/files/f...,"MA (South Asian Languages and Civilizations), ...",Not Provided,Not Provided,aditinath_sarkar@dau.ac.in,Not Provided,"Literature, Religious, Cultural History; South...",Not Provided,Not Provided,aditinath-sarkar.html,DA-IICT,2026-01-21 06:23:33

## 5. Test Search Query
Search for professors with 'Learning' in their specialization.

In [6]:
query = "SELECT name, specialization FROM faculty WHERE specialization LIKE '%Learning%'"
pd.read_sql_query(query, conn)

                  name                                     specialization
0       Abhishek Gupta  Machine Learning, Statistical Signal Processin...
1      Abhishek Jindal  Reinforcement Learning, Deep Learning for Fina...
2    Ajeet Kumar Singh  Computer Vision, Natural Language Processing, ...
3         Amit Mankodi  Embedded Systems, Computer Networks, High Perf...
4   Ankit Vijayvargiya  Biomedical Signals, Machine Learning, Neural R...
5           Arpit Rana  Applied Machine Learning, Recommendation Syste...
6   Manjunath V. Joshi  Signal and Image Processing, Digital Communica...
7          Parth Mehta  Natural Language Processing, Large Language Mo...
8         Pritam Anand  Support Vector Machines, Loss Functions, Regre...
9        Rachit Chhaya                      Coresets for Machine Learning
10    Rajib Lochan Das  Adaptive Signal Processing, Compressive Sensin...
11   S. Lakshmivarahan  Big Data Analytics, Dynamic Data Assimilation ...
12     Srimanta Mandal  Image Processing, Computer Vision, Machine Lea...
13     Subhasish Basak  Image Processing, Statistical Learning, Nonpar...
14         Sujay Kadam  Instrumentation, Systems and Control Theory, H...
15        Thomas Mandl  Information Science, Cognitive Similarity Lear...
16       Yash Vasavada  Communication, Signal Processing, Machine Lear...

In [7]:
conn.close()